<div class="footer">
    <div class="pull-right">
        Console version <strong>0.1</strong>
    </div>
    <div>
        <strong>Copyright</strong> Driveable Accessment Centers &copy; 2017
    </div>
</div>
